@charset "UTF-8";


header img {
	position:fixed;
	left:90px;
	top:20px;
}
.no1 {
	width: 450px;
	border: 1px solid blue;
	float: left;
}

.no2 {
	width: 450px;
	border: 1px solid red;
	float: right;
}
button{
	margin-bottom: 10px;

}
footer {
	clear: both;
}
